body{
	background-color:#f6f6f6;
}

.panel{border-radius: 0px}
.panel-heading{background-color:#fff !important;}

.box-img{
	width: 15%;
	float: left;
	position:relative;
	padding-right: 10px;
}
.box-img img{
	max-width: 100%
}

.box-content{
	width: 85%;
	float: left;	
	color:#5a5a5a;
}
.nummber{
	position: absolute;
    top: -5px;
    left: -5px;
    width: 25px;
    height: 23px;
    font-size: 14px;
    background-color: #084fa7;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    color: #fff;
}

.title-main{
	font-size: 14px;
}
.title-main a{
	font-weight: bold;
}
.title-main a:hover{
	color: #000;
}
.desc{
	margin:8px 0;
}
.box-footer{
	margin-top: 25px;
}
.box-footer i{
	margin:0px 8px;
}

.date{font-size: 11px}

.box-tk i{
	font-size: 38px;
	color:#08a9da;
}

.nummber_rix{font-size: 18px;color:#585861;}

.text-tk{
	color:#585861;
	margin-bottom: 20px;
	height: 34px;
	text-transform: uppercase;
	font-size: 11px;
}

.percentCount{display: none}